{% extends 'main/base.html' %}
{% block nav %}
    {% include "main/base/admin_nav.html" %}
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class = "container">
  	<h2>Forms</h2>
  	<div class = "row">
  		<div class = "col-md-4">
			<a href = "/categoryform/">Category Form</a>
			<p></p>
		</div>
		<div class = "col-md-4">
			<a href = "/categorytypeform/">Category Type Form</a>
			<p>This form is to add, delete or edit a category type. A category type is what the user chooses to learn by (EX: Nivel, Pais, Gramatica, etc.).</p>
		</div>
		<div class = "col-md-4">
			<a href = "/contentcategoryform/">Content Category Form</a>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-4">
			<a href = "/contentform/">Content Form</a>
			<p>This form is to add, delete or edit content. Content is what the user sees once they have selected a video to watch. All the learning material goes here (EX: Video, transcription, title, name, etc.).</p>
		</div>
		<div class = "col-md-4">
			<a href = "/countryform/">Country Form</a>
		</div>
		<div class = "col-md-4">
			<a href = "/difficultyform/">Difficulty Form</a>
		</div>
	</div>	
  </div>		
{% endblock %}
{% block footer %} {% endblock %}