{% extends 'main/base.html' %}
{% block nav %}
    {% include "main/base/admin_nav.html" %}
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<br/>
	<form class="form-horizontal" method="post" action = "/contentsubcategoryform/">
        <div class="form-group">
			<div class = "container">
				{% csrf_token %}
				{{ form.as_p }}
           	 	<input class="btn btn-default btn-lg" type="submit" value="Submit">
			</div>
		</div>
	</form>
{% endblock %}
{% block footer %} {% endblock %}