{% extends 'main/base.html' %}
{% include "main/base/nav.html" %}
{% block head %}
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class = "container">
	<h1>{{ difficulty }}</h1>
	<div class = ".col-md-6">
	<!--List of themes for the beginner list-->
		<a href = "/themes"><h4>Introducciones</h4></a> <!--Introductions-->
		<a href = ""><h4>De yo</h4></a> <!--Self-->
		<a href = ""><h4>Familia</h4></a> <!--Family-->
		<a href = ""><h4>Comida</h4></a> <!--Food-->
		<a href = ""><h4>Terminos de Escuela</h4></a> <!--School Terms-->
		<a href = ""><h4>Pasa Tiempos</h4></a> <!--Past Times-->
	</div>

{% endblock %}
{% block footer %} {% endblock %}