{% extends 'main/base.html' %}
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Authentic Spanish Language</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">Aprende Por</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">Index</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class = "container">
	<h1>Facil</h1>
	<div class = ".col-md-6">
	<!--List of themes for the beginner list-->
		<a href = "/themes"><h4>Introducciones</h4></a> <!--Introductions-->
		<a href = ""><h4>De yo</h4></a> <!--Self-->
		<a href = ""><h4>Familia</h4></a> <!--Family-->
		<a href = ""><h4>Comida</h4></a> <!--Food-->
		<a href = ""><h4>Terminos de Escuela</h4></a> <!--School Terms-->
		<a href = ""><h4>Pasa Tiempos</h4></a> <!--Past Times-->
	</div>

{% endblock %}
{% block footer %} {% endblock %}