{% extends 'main/base.html' %}
{% load embed_video_tags %}
{% block nav %}
    {% include "main/base/nav.html" %}
{% endblock %}
{% block head %}
{% endblock %}


{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class = "container">
  <table class = "table" style="width:100%">
    <!--<caption>Stuff</caption>-->
    <tr>
      <td>Nombre</td>
      <td>Apellido</td>
      <td>Pais</td>
      <td>Titulo</td>
    </tr>
    {% for content in contents %}
    <tr>
      <td>{{ content.first_name }}</td>
      <td>{{ content.last_name }}</td>
      <td>{{ content.country }}</td>
      <td>{{ content.title }}</td>
    </tr>
    {% endfor %}
  </table> 
</div>


{% endblock %}
{% block footer %} {% endblock %}