{% extends 'main/base.html' %}
{% include "main/base/nav.html" %}
{% block head %}
{% endblock %}

{% block content %}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<!--list of video thumbnails and short descriptions-->
<div class = "container">
    {% i = 0 %}
    {% for p in contents %}
    {% if i % 4 == 0 %}
    <div class = "row">
    {% endif %}
		<div class = "col-md-3">
            {% p.video %}
		</div>
    {% if i % 4 == 3 %}
    </div>
    {% endif %}
    {% i += 1 %}
    {% endfor %}
</div>

{% endblock %}
{% block footer %} {% endblock %}